%h1 OMG IE!

%ul
  %li
    = link_to h('More than 4095 selectors'), 'selector_count.html'
  %li
    = link_to h('More than 31 CSS files'), 'number_of_css_files.html'
  %li
    = link_to h('CSS file size > 288kb'), 'file_size.html'
    (this actually works and was never a problem)

